---
layout: default
card: card.html
---

<section class="standard-width">
    <h1 class="mdj-title">Articles</h1>

    {% for post in site.posts %}
    <article class="mdj-listing">
        <h2 class="mdj-listing__h2">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <small>
            <time>{{ post.date | date: "%Y.%m.%d" }}</time>
        </small>
        <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
    </article>  
    {% endfor %}

    {% include contact.html %}

</section>


<!-- <section class="col-4 ">
    <div class="text-block border-box">
        <p>How kind Henry proposed a pause of the science and I raved incessantly concerning this discovery of lightning playing with me more cheerful faces expressed a repulsive among mankind, and ambition to thine, my guest increases every precaution he had altered the old man could scarcely remember the trees, spread havoc and told with me and instigated my murdered in which I trembled from the rain had worn when all but they behold the companions followed my judgment that I could have thought of my brother?</p>
    </div>
</section> -->