<header role="banner" id="top">
    <div class="mdj-header">
        <div style="flex-grow: 2;">
            <div class="mdj-card">
                <div class="mdj-card--photo">
                    <a href="{{ site.baseurl }}/"><img class="mdj-card--photo__rainbow" src="/assets/mdjablonski-white.jpg"></a>
                </div>
                <div class="mdj-card--desc">
                    <h2 class="mdj-header--title"><a href="{{ site.baseurl }}/">Marcin Dominik Jabłoński</a></h2>
                    <p class="mdj-header--subtitle"><a href="{{ site.baseurl }}/">Product & UX designer</a></p>
                </div>
            </div>
            <div class="mdj-dialog">
                <span class="mdj-dialog--arrow"></span>
                <span class="mdj-dialog--bubble">Hello!<span class="hello"></span>Welcome to my website.</span>
            </div>
        </div>
        <nav role="navigation">
            <ul class="mdj-menu">
                <li><a class="mdj-menu__about" href="{{ site.baseurl }}/"><span></span>About me</a></li>
                <li><a class="mdj-menu__portfolio" href="{{ site.baseurl }}/ux-portfolio/"><span></span>UX portfolio</a></li>
                <li><a class="mdj-menu__articles" href="{{ site.baseurl }}/articles/"><span></span>Articles</a></li>
            </ul>
        </nav>  
    </div>
</header>