<header role="banner" class="standard-width" id="top">
    <div class="mdj-header">
        <div>
            <p class="mdj-header--title"><a href="{{ site.baseurl }}/">Design Blog</a></p>
            <h2 class="mdj-header--subtitle"><a href="{{ site.baseurl }}/">About designing products and things related to it</a></h2>
        </div>
        <nav role="navigation">
            <ul class="mdj-menu">
                <li><a href="{{ site.baseurl }}/">About me</a></li>
                <li><a href="{{ site.baseurl }}/ux-portfolio/">UX portfolio</a></li>
                <li><a href="{{ site.baseurl }}/articles/">Articles</a></li>
            </ul>
        </nav>
    </div>

    {% if page.card %}
        {% include {{ page.card }} %}
    {% endif %}

</header>