---
layout: default
---

<section class="standard-width">

    <h1 class="mdj-title mdj-title__tag">"{{ page.tag }}"</h1>
    
    <article class="mdj-post">
        {{ content}}
    </article>    

    {% for post in site.tags[page.tag] %}
    <article class="mdj-listing">
        <h2>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <small>
            <time>{{ post.date | date: "%d.%m.%Y" }}</time>
        </small>
        <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
    </article>  
    {% endfor %}

</section>